<div class="hero-container">
  <img class="principal-image" src="assets/img/decoracion1.png" alt="Imagen principal Home">
  <h1 class="hero-title">Home</h1>
</div>

<div class="container">
  <p>"ENDULZAMOS TUS MOMENTOS MÁS ESPECIALES" <br><br> PASTELERÍA ARTESANAL CON INGREDIENTES NATURALES Y AMOR EN CADA DETALLE.</p>
</div>

<div class="discount-banner">
  <h1>20% DESCUENTO</h1>
  <p>Todos los pasteles de chocolate</p>
  <p>Válido del 24 de noviembre al 2 de diciembre</p>
  <button class="btn-discount">DESCUENTO</button>
    <img src="assets/img/trenza.png">
</div>







