<div class="hero-container">
  <img class="principal-image" src="assets/img/catalogo.png" alt="Tarta de Kiwi">
  <h1 class="hero-title">Productos</h1>
</div>

<div class="container">
    <p>Dscubre nuestras creaciones hechas con amor y los mejores ingredientes.<br>
      <br>  Elige, combina y disfruta — ¡cada bocado es una fiesta de sabor!
    </p>
    <div class="imagenes">
        <img src="assets/img/tiramisu.png" alt="Decoración">
        <img src="assets/img/panes.png" alt="Hojas">
        <img src="assets/img/pasteles.png" alt="Línea decorativa">
    </div>
</div>
<!-- <img src="assets/img/catalogo.png" alt="Tarta de Kiwi" class="product-image"> -->
<app-carrousel>
  <div slideItem>
    <app-product-card [name]="'Tarta de Kiwi'" [price]="9.99"></app-product-card>
  </div>

  <div slideItem>
    <app-product-card [name]="'Tarta de Kiwi'" [price]="9.99"></app-product-card>
  </div>

  <div slideItem>
    <app-product-card [name]="'Tarta de Kiwi'" [price]="9.99"></app-product-card>
  </div>
  <div slideItem>
    <app-product-card [name]="'Tarta de Kiwi'" [price]="9.99"></app-product-card>
  </div>
  <div slideItem>
    <app-product-card [name]="'Tarta de Kiwi'" [price]="9.99"></app-product-card>
  </div>
  <div slideItem>
    <app-product-card [name]="'Tarta de Kiwi'" [price]="9.99"></app-product-card>
  </div>
  <div slideItem>
    <app-product-card [name]="'Tarta de Kiwi'" [price]="9.99"></app-product-card>
  </div>
  <div slideItem>
    <app-product-card [name]="'Tarta de Kiwi'" [price]="9.99"></app-product-card>
  </div>
  <div slideItem>
    <app-product-card [name]="'Tarta de Kiwi'" [price]="9.99"></app-product-card>
  </div>
  <div slideItem>
    <app-product-card [name]="'Tarta de Kiwi'" [price]="9.99"></app-product-card>
  </div>
  <div slideItem>
    <app-product-card [name]="'Tarta de Kiwi'" [price]="9.99"></app-product-card>
  </div>
  <div slideItem>
    <app-product-card [name]="'Tarta de Kiwi'" [price]="9.99"></app-product-card>
  </div>
  <div slideItem>
    <app-product-card [name]="'Tarta de Kiwi'" [price]="9.99"></app-product-card>
  </div>
</app-carrousel>


<app-product-card [name]="'Tarta de Kiwi'" [price]="9.99"></app-product-card>
<app-product-card [name]="'Tarta de Kiwi'" [price]="9.99"></app-product-card>
<app-product-card [name]="'Tarta de Kiwi'" [price]="9.99"></app-product-card>
<app-product-card [name]="'Tarta de Kiwi'" [price]="9.99"></app-product-card>
<app-product-card [name]="'Tarta de Kiwi'" [price]="9.99"></app-product-card>
