@import '../../../styles.scss';

.hero-container {
  position: relative;       
  width: 100%;              
}

.principal-image     {
  width: 100%;
  height: auto;
}

.hero-title {
  position: absolute;       
  top: 60%;                 
  left: 10%;  
  padding: 0px 30px;
  //margin-bottom: 40px ; 
  border-radius: 25px;
  background-color: $verde-claro;      
  color: black;             
  font-size: 30;          
  font-weight: 500;        
}

.container {
  width: 100%;            /* Ocupar todo el ancho */
  display: flex;          /* Activar flexbox */
  flex-direction: row; /* Texto arriba, imágenes abajo */
  align-items: center;    /* Centrar contenido */
  text-align: center;     /* Centrar texto */
  padding: 20px;
  gap: 30px;
}

.container img {
  //width: 100%;            /* Cada imagen ocupa todo el ancho disponible */
  max-width: 20%;       /* Tamaño máximo para que no se deformen */
  margin: 10px;
  object-fit: contain;
}

.container p{
  text-align: left;
}


h1{
  text-align: left;
  font-weight: 550;
  padding: 0px 40px;
  margin: 10px 0px 0px 0px;
}
