@import '../../../styles.scss';

.hero-container {
  position: relative;       
  width: 100%;              
}

.principal-image     {
  width: 100%;
  height: auto;
}

.hero-title {
  position: absolute;       
  top: 60%;                 
  left: 10%;  
  padding: 10px 30px; 
  border-radius: 25px;
  background-color: $verde-claro;      
  color: black;             
  font-size: 30;          
  font-weight: 500;        
}

.container {
  display: grid;
  grid-template-columns: 250px 1fr; /* Texto | im치genes */
  grid-auto-rows: auto;             /* Filas se ajustan al contenido */
  align-items: center;              /* Centra verticalmente el texto respecto a las filas de im치genes */
  gap: 20px;                        /* Espacio entre texto e im치genes */
  margin: 20px;
}

.container p {
  margin: 0;
  font-size: 16px;
}

.imagenes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Im치genes grandes y responsive */
  gap: 20px;
}

.imagenes img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}


