@import '../../../styles.scss';
:host {
  display: block;
  width: 100%;
}

.carrousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 20px 0;
}

.scroll-container {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px;
  scrollbar-width: none; /* Firefox */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Chrome */
}

/* Flechas */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  width: 40px;
  height: 40px;
  font-size: 24px;
  background: rgba(0,0,0,0.45);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  backdrop-filter: blur(4px);
}

.arrow.left { left: 10px; }
.arrow.right { right: 10px; }
